html {
    position: relative;
    background-color: #8fb291;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #dfe3df;
    inset-inline: 0;
    inset-block-end: 0;
    position: absolute;
    inline-size: auto;
}

header {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    background-color: #dfe3df;
    margin-block-start: 0;
    inset-inline: 0;
    inset-block-start: 0;
    position: absolute;
    inline-size: auto;
}


h3 {
    font-family: "Sriracha", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

p {
    background-color: #dfe3df;
    padding: 20px;
    font-size: 1em;
    text-align: center;
}

section {
    background-color: #dfe3df;
    padding: 20px;
}

ul {
    text-align: center;
}

li {
    text-align: center;
    list-style-type: none;
}

.accessIdeas {
    text-align: center;
    font-weight: bold;
}

img {
    height: 200px;
    width: auto;
}

.row {
    display: flex;
  }

  .column {
    flex: 30%;
    padding: 10px;
  }



  
