html {
    position: relative;
    background-color: #8fb291;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: #e9ece9;
    inset-inline: 0;
    inset-block-end: 0;
    position: absolute;
    inline-size: auto;
}

header {
    text-align: center;
    background-color: #e9ece9;
    margin-block-start: 0;
    inset-inline: 0;
    inset-block-start: 0;
    position: absolute;
    inline-size: auto;
}


h2 {
    text-align: center;
}

p {
    background-color: #e9ece9;
    padding: 20px;
}

section {
    background-color: #e9ece9;
}
