html {
    background-color: #93c796;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: coral;
    position: absolute;
    inset-inline: 0;
    border-block-end: 0;
    inline-size: 100%;
}

header {
    text-align: center;
    background-color: #aeb6bf;
    position: absolute;
    inset-inline: 0;
    border-block-end: 0;
    inline-size: 100%;
}